<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>
      <ul>
        <% animal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control' %>

    <div class="form-group">
      <%= form.label :sexo %>
      <%= form.select :sexo,['Macho', 'Fêmea'],{include_blank: "Selecione"}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="form-group">
        <%= form.label 'Situação' %>
        <%= form.select :situacao,['Abandonado', 'Propriedade'], {include_blank: "Selecione"}, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :ong_id %>
        <%= form.select("ong_id", @id_ong, {include_blank: "Selecione"},  class: 'form-control' )  %>

      </div>

      <div class="actions">
        <%= form.submit nil, class: 'btn btn-primary' %>
        <%= link_to 'Voltar', animals_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>  
<%end%>
